//Estilos base (elementos html, body, main..)
@use "../utilities/variables" as var;

:root{
    font: 14px/1.6 var.$fuente;
}

a{
    text-decoration: var.$colorSass;
    color: var.$colorSass;

    &:hover{
        color: blue;
    }

    header & {
        font-weight: 500;
    }
}

ul, li{
    margin-left: 1rem;
}


body{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}