//mixins

//Mixin para los estilos de los svg
@mixin svg($max-width:30px,$width:100%,$height:auto,$color){
    max-width: $max-width;
    width: $width;
    height: $height;
    fill: $color;
}

//mixin para maquetar con flex
@mixin flex($direccion: row, $wrap: wrap, $justify: center, $align: center, $gap: null){
    display: flex;
    flex-flow: $direccion $wrap;
    justify-content: $justify;
    align-items: $align;
    align-content: $align;
    gap: $gap;
}
