/*=============================================
=            Estilos de las animaciones            =
=============================================*/
/* animación de rotar emplear rotación en el eje Y de 60deg para un lado
al 25% y para el otro lado al 75%. Usa prespective(600px) junto con la rotación 
(se emplea con la propiedad transform
Para todo los tipos de navegadores*/
@keyframes rotar {
    25%{
        transform: rotateY(60deg) perspective(600px);
    }
    75%{
        transform: rotateY(-60deg) perspective(600px);
    }
}
@-o-keyframes rotar {
    25%{
        transform: rotateY(60deg) perspective(600px);
    }
    75%{
        transform: rotateY(-60deg) perspective(600px);
    }
}

@-moz-keyframes rotar {
    25%{
        transform: rotateY(60deg) perspective(600px);
    }
    75%{
        transform: rotateY(-60deg) perspective(600px);
    }
}

@-webkit-keyframes rotar {
    25%{
        transform: rotateY(60deg) perspective(600px);
    }
    75%{
        transform: rotateY(-60deg) perspective(600px);
    }
}