/*=============================================
=            Estilos de los modales            =
=============================================*/
/* ancho máximo 550px y mínimo 280px
   sombra 4px eje X y Y, blur 5px
   Fuente: --fuente-secundaria
   color texto: --color-primario
   color fondo: --color-fondo-claro
   
   Color del telón de fondo del modal
   --color-fondo
   */
dialog{
  margin: 0 auto;
  top: 35%;
  max-width: 550px;
  min-width: 280px;
  font-family: var(--fuente-secundaria);
  color: var(--color-primario);
  background-color: var(--color-fondo-claro);
}

dialog::backdrop{
  background-color: var(--color-fondo);
}

dialog fieldset{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

dialog h2{
  text-align: center;
}

form {
  font-size: 1.2rem;
  padding: 1rem;
}

label {
  padding: .5rem;
  min-width: 100px;
}


input {
  padding: .25rem 0.1rem;
}

input:focus{
  background-color: orange;
}

/* los campos de numéricos tendrá un ancho máximo 3.25rem. 
Para pantallas de 720px para arriba: el último campo
de tipo numerico tendrá un margen superior de 1 rem */
input[type="number"]{
  max-width: 3.25rem;
}



.btn__close {
  /* posicionado tal y como se puede ver en el vídeo*/
  position: absolute;
  top: 2%;
  right: 0;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-secundario-oscuro);
}

/* el boton de limpiar tendrá como color de fondo rgb(255, 81, 0) */
.botones {
  margin-top: 10px;
  display: flex;
  gap: .5rem;
  justify-content: center;
  flex-wrap: wrap;
}

input[type="submit"], input[type="reset"]{
  box-shadow: 2px 2px 5px black;
  width: 100px;
}

input[type="submit"]{
  background-color: black;
  color: orange;
}

input[type="reset"]{
  background-color: rgb(255, 81, 0);
}
.btn:active {
  box-shadow: 0 0 0 black inset;
}