/*=============================================
=            Estilos del video            =
=============================================*/

video {
  max-width: 600px;
  width: 100%;
}

/* Estilos genéricos par los subtítulos
- Fondo negro
- Fuente 1.2rem Franklin Gothic Medium", "Arial Narrow",Arial,sans-serif

*/
::cue{
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
}

/* Estilos para el título
- Sombra del texto de 1px en el eje X e Y
- Fuente: fuente secundaria.
- Color de la fuente: color-fondo-2
- Tamaño de la fuente 15rem
*/
::cue(.titulo){
  text-shadow: 1px 1px;
  font-family: var(--fuente-secundaria);
  color: var(--color-secundario);
  font-size: 1.5rem;
}

/* Estilos para el Narrador
- Fuente: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif
- Color de la fuente: azul
- Fondo blanco
*/
::cue(v[voice="narrador"]){
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: blue;
  background-color: white;
}