@charset "utf-8";
@import "fonts.css";
/*
   Diseño de interfaces Web
   Examen 2ª evaluación
   Ejercicio 2
   
   Estilos del video y sus subtitulos 
   Autor: Marina Vega Vázquez
   Fecha: 11/03/2024

   Nombre del fichero: base.css
   ¡¡¡¡¡NO TOQUES ESTA HOJA DE ESTILOS!!!!!!!!

*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-fondo: #1f4e60;
  --clr-fondo-secundario: hsl(196, 53%, 22%);
  --clr-fondo-adicional: #078dab;
  --clr-fondo-cabecera-pie: #fafafabc;
  --clr-letra-secundaria: #11353b;
  --clr-btn-donar: hsl(19, 99%, 56%);
  --clr-btn-donar-oscuro: hsl(19, 74%, 31%);
  --clr-btn-donar-texto: hsl(0, 0%, 1%);
  --clr-modal: #064f60;
  --radius: 20px;
  --radius-light: 10px;
  --box-shadow: 4px 4px 10px black;
  --font-size: 16px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: white;
}

body {
  font-size: var(--font-size);
  width: 100vw;
  height: auto;
  background-color: var(--clr-fondo);
}

img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav > ul {
  list-style: none;
}

nav a {
  text-decoration: none;
}

p {
  padding-top: 1rem;
}
.btn {
  background-color: var(--clr-fondo-secundario);
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  min-width: 150px;
  letter-spacing: 1.4px;
  font-weight: 600;
  width: max-content;
  border-radius: var(--radius-light);
  color: white;
  cursor: pointer;
  text-transform: capitalize;
}
.btn:hover {
  background-color: var(--clr-fondo-adicional);
  border-color: var(--clr-fondo);
}
.btn:active {
  color: var(--clr-fondo-adicional);
  background-color: var(--clr-fondo);
}

.btn:active {
  color: var(--clr-btn-donar);
  background-color: var(--clr-btn-donar-texto);
}
/*=============================================
=            Estilos de la cabecera            =
=============================================*/
.header {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background-color: var(--clr-fondo-cabecera-pie);
  padding: 0 5%;
  color: var(--clr-letra-secundaria);
}
h1 {
  display: none;
}
.header__logo {
  width: 180px;
  height: 150px;
  background-color: #fafafa;
}
nav.header__menu {
  padding-left: 5%;
}

nav.header__menu a {
  color: var(--clr-letra-secundaria);
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: var(--radius-light);
}

.btn-donar {
  color: var(--clr-btn-donar-texto);
  background-color: var(--clr-btn-donar);
  padding: 1rem 2rem;
  font-size: 1.2rem;
}
.btn-donar svg {
  width: 1rem;
}
/*=====  End of Estilos de la cabecera  ======*/

/*=============================================
=            Estilos portada            =
=============================================*/
section.portada {
  padding-left: 5%;
  padding-top: 4rem;
  color: white;
}
.portada p {
  text-transform: capitalize;
}
.portada h2 {
  letter-spacing: -0.06rem;
  font-size: 3rem;
  font-weight: 400;
  max-width: 500px;
}

/*=====  End of Estilos portada  ======*/

/*=============================================
=            Estilos de los articulos           =
=============================================*/
main > article {
  padding: 5%;
}
article.doscolumn {
  font-size: 1.2rem;
}

/*=====  End of Estilos de los articulos  ======*/
/*=============================================
=            Estilos de las cards            =
=============================================*/
#campañas {
  text-align: center;
}

.cards__card {
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  background-color: var(--clr-fondo-cabecera-pie);
  padding-bottom: 1rem;
}

.cards__card button {
  box-shadow: var(--box-shadow);
}
/*=============================================
=            Estilos del modal            =
=============================================*/
dialog {
  /* min-width: 220px;
  max-width: 650px; */
  padding: 2rem 3rem;
  border: 8px solid var(--clr-fondo-secundario);
  background-color: #fafafa;
  margin: 0 auto;
  position: fixed;
  top: 25%;
  text-align: center;
}
h2 {
  padding-bottom: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/**
 *
 * Estilos del formulario del modal
 *
 */
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form fieldset {
  outline: none;
  border: none;
}

legend {
  color: var(--clr-modal);
  text-align: left;
  font-size: 0.8rem;
  padding-bottom: 0.25rem;
}

.cantidad__opcion label {
  width: 100%;
  display: flex;
  border-radius: var(--radius-light);
  padding: 0.5rem 1rem;
  border: 2px solid #c6c6c6;
}

#destino {
  display: flex;
  flex-direction: column;
}
#destino input {
  padding: 1rem;
  border-radius: 10px;
}
.form__btn {
  padding: 1rem;
  border-radius: var(--radius-light);
}
/*=====  End of Estilos del modal  ======*/

/*=============================================
=            Estilos pie            =
=============================================*/
footer {
  background-color: var(--clr-fondo-cabecera-pie);
  color: var(--clr-letra-secundaria);
  text-align: center;
  padding: 1rem;
}

/*=====  End of Estilos pie  ======*/
