/*
   Diseño de interfaces Web
   Examen 2ª evaluación
   Ejercicio 1

   Estilos del video y sus subtitulos 
   Autor:   
   Fecha: 11/03/2024

   Nombre del fichero: fonts.css

*/
/* Importa la fuente Montserrat*/
@font-face {
   font-family: "Montserrat";
   src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format(truetype);
}
