/*
   Diseño de interfaces Web
   Examen 2ª evaluación
   Ejercicio 1

   Estilos del video y sus subtitulos 
   Autor: 
   Fecha: 11/03/2024

   Nombre del fichero: modal.css

*/

/*=============================================
=            Estilos de la ventana modal donar            =
=============================================*/
/*
Las propiedades de posicionamiento de la ventana modal se encuentran en general

Crea una animación para que aparezca la ventana modal al visualizarla
  - Pasará de ser transparente y estar fuera de la ventana
  - A ser totalmente opaca
Duración de la animación 0.5s
función de temporización de la animación curva bezier: rápido al entrar y salir*/
dialog{
  animation: modal 0.5s ease-in-out;
  -moz-animation: modal 0.5s ease-in-out;
  -o-animation: modal 0.5s ease-in-out;
  -webkit-animation: modal 0.5s ease-in-out;
}

@keyframes modal {
  from{
    top: -50vh;
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
/*Telón de fondo de la ventan modal color: #078dab6a */
dialog::backdrop{
  background-color: #078dab6a;
}

/*Color del svg del h1 variable --clr-modal*/
dialog h2 svg{
  fill: var(--clr-modal);
}
/*Botón de la ventana de diálogo fuente 1.5rem, color fondo #fafafa posicionado*/

.dialog__btn--cerrar{
  border: none;
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 1.5rem;
  background-color: #fafafa;
}

/*=============================================
=            Estilos del formulario            =
=============================================*/

/*Para separar el label de un radio con el siguiente input radio
añadiremos un margen a la izquierda de 1rem a todos los campos 
.form__campo de tipo radio SALVO el primero*/
.form__campo input[type="radio"]:not(:first-of-type){
  margin-left: 1rem;
}
/* Al seleccionar el radio el label correspondiente se pone en negrita (600)*/
.form__campo input[type="radio"]:checked + label{
  font-weight: 600;
}
/* .cantidad hace referencia al fieldset que contiene cada bloque span con la clase
cantidad__option. Debes maquetar este componente de forma que los items que contiene seab responsive sin usar media queries
y teniendo como ancho de cada item 80px.*/
.cantidad {
  display: grid;
  grid-template-columns: repeat(auto-fit, 80px);
  gap: 0.2rem;
  justify-content: center;
}
/* cantidad__opcion es un span que contiene un input de tipo radio
y una etiqueta. Vamos a estilar este radio para que no se vea el radio (.cantidad__input--radio) y
lo que se vea es la etiqueta a la que está vinculada */
/* Para el span que contiene la cantidad (.cantidad__opcion) color de texto
#222832 y relleno de 5px*/
.cantidad__opcion {
  color: #222832;
  fill: 5px;
}

.cantidad__opcion--radio {
  width: 0;
  position: absolute;
}
/* Cambiamos los estilos del label al estar el radio seleccionado, para ello
color de fondo #c6c6c5, color texto y borde variable --clr-modal
negrita de 500 */
.cantidad__opcion input[type="radio"]:checked + label{
  background-color: #c6c6c5;
  color: var(--clr-modal);
  border-color: var(--clr-modal);
}

/* En el caso de que el los campos sean invalidos color de fondo orange, solo cuando tenga contenido */
.form__campo input:not(:placeholder-shown):invalid{
  background-color: orange;
}
/* mira el video y aplica las reglas necesarias para el botón */
.form__btn{
  width: 100%;
}
/*=====  End of Estilos de la ventana modal donar  ======*/
