@import "base.css";
@import "animaciones.css";
@import "modal.css";
/*
   Diseño de interfaces Web
   Examen 2ª evaluación
   Ejercicio 2
   
   Estilos del video y sus subtitulos 
   Autor:   
   Fecha: 11/03/2024

   Nombre del fichero: style.css

*/
/*
Para el cuerpo
Importante, Recuerda! la página debe estar maquetada de forma que el pié se encuentre siempre 
al fondo de la página, tanto con poco contenido en la página como con mucho.
Fondo empleando un gradient de color --clr-fondo hasta el 50%
#078dab hasta el 100%
Tamaño del fondo a 400% de alto y de ancho
Tiene una animación infinita llamada gradient de 16s de duración con curva ease
*/

body {
  
}

/*=============================================
=            Estilos de la cabecera            =
=============================================*/
/* cabecera fija */
.header {
}

nav.header__menu {
}
nav.header__menu ul {
}

/* Para hacer un efecto al pasar sobre cada opción del menú (menu__item)
tenemos dentro de cada li un enlace y un span que es con lo que haremos
la barra que hace el efecto al pasar sobre la opción*/
/* Estilos al pasar sobre la barra: color fondo
--clr-fondo-adicional borde redondeado.
Duración de la animación 0.3s con una curva bezier lento al entrar, rápido al salir*/
.barra {
  /* no toques estas propiedades*/
  height: 6px;
  background-color: var(--clr-fondo);
  /**/
}

/* Boton donar: sombra con un blur de 10px, desplazamiento de 0 del eje X y 4px del
eje Y, color rgb(72,3,3)
texto --clr-btn-donar-texto*/

/*Color del svg del botón donar --clr-btn-donar-texto. Ten en cuenta que usa la animación latir.*/

/* al pasar sobre el boton btn-donar cambia: 
color de fondo y color del borde a --clr-btn-donar-oscuro
color texto a blanco
Color del svg a blanco*/

/*=====  End of Estilos de la cabecera  ======*/

/*=============================================
=            Estilos portada            =
=============================================*/

section.portada {
}

/*=====  End of Estilos portada  ======*/

/*=============================================
=            Estilos boton donar del lateral            =
=============================================*/
/* El botón de donar aparece también de forma fija en la ventana al 80% de la cabecera
y a 1.5rem de la izquierda. */
#btnDonar2 {
}
/*=============================================
=            Estilos de los articulos           =
=============================================*/

/* Los articulos del main impares tendran como color de fondo --clr-fondo-secundario*/

/* Artículo .doscolumnas divide el article en dos columnas de tamaño mínimo 280px de ancho y máximo todo el espacio disponible. Usa maquetación esponsive sin usar media queries.
Separación entre elementos 1rem*/
article.doscolumn {
}

/* Las imágenes y videos de los article.doscolumn
ancho máximo de 580px
sombra blur de 10px con desplazamiento tanto en X como Y de 4px*/

/*=====  End of Estilos de los articulos  ======*/

/*=============================================
=            Estilos de los articulos           =
=============================================*/

/* Los articulos del main impares tendran como color de fondo --clr-fondo-secundario*/

/* Maquetaremos el article .doscolumn de forma que tenga cada columna un tamaño mínimo
de 280px de ancho y máximo de una fracción. Responsive sin usar media queries
Separación de 1rem*/
article.doscolumn {
}

/* Las imágenes y videos que estan en el article .doscolumn tendrán
 borde redondeado --radius-light 
ancho máximo de 580px
sombra blur de 10px con desplazamiento tanto en X como Y de 4px*/

/*=====  End of Estilos de los articulos  ======*/

/*=============================================
=            Estilos de las cards            =
=============================================*/
/* Posicionamos los card de forma responsive con ancho máximo de cada item del elemento cards de hasta 435px*/
.cards {
}
/* Separación entre los elementos del .cards__card 1rem*/
.cards__card {
}

/* La imagen debe ocupar el espacio sobrante del card*/
.cards__card .card__image {
}

/*=====  End of Estilos de las cards  ======*/

/*=============================================
=            Media queries            =
=============================================*/
/* media querie para pantallas de hasta 720px
para cambiar el valor de la variable --font-size a 12px
logo de la cabecera ancho y alto de 100px
Se oculta el menú de la cabecera (header__menu)
Fuente del h2 de la portada 2.2rem*/
