@charset "UTF-8";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* Compatibilidad con firefox */

.skipper-anchor, .heading-anchor {
  display: none;
}

/*=============================================
=            Estilos generales            =
=============================================*/


p {
  padding: 0.5rem 0;
}


/*=====  End of Estilos generales  ======*/


/*=============================================
=            Estilos de la cabecera            =
=============================================*/


/**** Estilos del menú ****/

.activa {
  font-weight: bold;
}

/* Estilos de la línea al pasar sobre cada opción del menu*/
#menu xx {
  width: 0;
  height: 4px;
  border-radius: 10px;
  background-color: var(--bg-secundario);
  transition: var(--transicion);
}


/*=====  End of Estilos de la cabecera  ======*/


/*=============================================
=            Estilos del cuerpo - card           =
=============================================*/

/* estilos del main*/
main {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

/* estilos de las card */



/* estilos del contenedor de la imagen */



/* Efectos de la card */



/* estilos del elemento con id registros */

/* Topos los td menos el último borde derecho 1px */


/* Estilos de los botones */



/* Emplea la pseudoclase para indicar el color de fondo y los cambios de color
de fondo y color letra al pasar sobre el para los botones */


/*=====  End of Estilos del cuerpo - card ======*/



/*=============================================
=            Estilos del footer            =
=============================================*/


/*=====  End of Estilos del footer  ======*/



/*=============================================
=            Estilos de las media queries            =
=============================================*/



/*=====  End of Estilos de las media queries  ======*/